@import url('https://fonts.googleapis.com/css?family=Exo');

* {
  font-family: 'Exo', sans-serif;
}

.card, .err-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
  transition: 0.3s;  
}

.err-card {
  background-color: red;
  padding: 10px;
  color: white;
}

.pakde-card {
  padding: 5px;
  margin-top: 5px;
  margin-top: 10px;
}

.app-container h1 {
    text-align: center;
}

.container {
  padding: 2rem 16rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #23A6D5;
}

.cont-pad {
  padding: 2px 16px;
}

.grid-container {
  display: grid;  
}

.btn {  
  position: relative;

  display: inline;
  margin: 30px auto;
  padding: 5px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: white;  
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #2ecc71;
}

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  overflow-y: auto;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}